@page "/cat/{category:int}/{page:int}"
@inject HttpClient Http
@if (name != null)
{
    <h3 style="margin-bottom:25px"> @name </h3>
}

<ListViewer page="page" products="products" FormatLink=@("/cat/" + category.ToString() + "/{0}/")>

</ListViewer>

@code {
    ProductList products;
    string name { get; set; } = "";
    [Parameter]
    public int category { get; set; }
    [Parameter]
    public int page { get; set; }
    protected override async Task OnParametersSetAsync()
    {
        var response = await Http.GetAsync(String.Format("Catalog/GetName?cat={0}", category));
        name = await response.Content.ReadAsStringAsync();
        products = await Http.GetFromJsonAsync<ProductList>(String.Format("Catalog/LoadProducts?cat={0}&page={1}", category, page));
        
    }
}
