@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    
    <div class="top-row px-4">
        <SearchBox></SearchBox>
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
    <div class="footer px-4">
        <table>
            <tr>
                <td>КОМПАНИЯ</td>
                <td>ПОМОЩЬ</td>
                <td>ОБСЛУЖИВАНИЕ</td>
                <td>РАЗНОЕ</td>
            </tr>
            <tr>
                <td><a href="#">Новости</a></td>
                <td><a href="#">Обратная связь</a></td>
                <td><a href="#">Сервисные центры</a></td>
                <td><a href="#">Акции</a></td>
            </tr>
        </table>
    </div>
</div>
