@inject HttpClient Http
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">AspNetShop</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">

        @if (categories != null)
        {
            @foreach (Category c in categories)
            {
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="@c.Id" Match="NavLinkMatch.All">
                        @c.Name
                    </NavLink>
                </li>
            }
        }
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private Category[] categories = new Category[0];

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    protected override async Task OnInitializedAsync()
    {
        categories = await Http.GetFromJsonAsync<Category[]>("Catalog");
    }
}
