<div class="search-box">
    <span class="oi oi-magnifying-glass" style="padding:5px 10px 0px 10px"></span>
    <EditForm Model="@TextProperty">
        <InputText @bind-Value="@TextProperty" placeholder="Поиск товара"></InputText>
    </EditForm>
</div>

@code {
    string TextProperty = "";
}
